:root {
--rojo:red;
--fondo:black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    width: 90%;
    margin: auto;
}

header{
    padding: 30px 0;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .titulo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

header nav a {
    color:#aaa;
    text-decoration: none;
    margin-right: 20px;

}

header nav a:hover,
header nav a.activo {
    color: #fff;
}


/* ---- ----- ----- Pelicula Principal ----- ----- ----- */

.principal{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .20) 0%,rgba(0, 0, .50) 150%), url(../imagenes/paracitos.png);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.principal .contenedor{
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.principal .nombretitulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.3em;
}

.principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.principal .boton{
    background: rgba(0,0,0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.principal .boton:hover {
    background: #fff;
    color: #000;
}

.principal .boton i {
    margin-right: 1.25em;

}

/*-----contenedor titulos y controles------ */  

.contenedor-titulo-controles{
    display: flex;
    justify-content:space-between;
    align-items: end;
}

.contenedor-titulo-controles h3 {
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button{

    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}


/*----contenedor primcipal y fecha------- */  


.peliculas-contenedor{
    margin-bottom: 70px;
   

}

.peliculas-contenedor .contenedor-principal {
    display: flex;
    align-items: center;
    position: relative;
    
}


.peliculas-contenedor .contenedor-principal .flecha-izquierda,
.peliculas-contenedor .contenedor-principal .flecha-derecha {
    
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.peliculas-contenedor .contenedor-principal .flecha-izquierda:hover,
.peliculas-contenedor .contenedor-principal .flecha-derecha:hover{

    background: rgba(0,0,0, .9);
    
}

.peliculas-contenedor .contenedor-principal .flecha-izquierda {
    left: 0;
}

.peliculas-contenedor .contenedor-principal .flecha-derecha {
    right: 0;
}

/*------carousel-------*/


.peliculas-contenedor .contenedor-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    
    
}

.peliculas-contenedor .contenedor-carousel .carousel{
    display: flex;
    flex-wrap: nowrap;
}


.peliculas-contenedor .contenedor-carousel .carousel .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);

}

.peliculas-contenedor .contenedor-carousel .carousel .pelicula:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-contenedor .contenedor-carousel .carousel .pelicula img{
    width: 100%;
    vertical-align: top;
}

.contenedor-principal .contenedor-carousel{
   
    background-color: #000;
}











/*------carousel2-------*/

.contenedor-titulo-controles1{
    display: flex;
    justify-content:space-between;
    align-items: end;
}

.contenedor-titulo-controles1 h3 {
    color: #fff;
    font-size: 30px;
   
}

.contenedor-titulo-controles1 .indicadores button{

    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles1 .indicadores button:hover,
.contenedor-titulo-controles1 .indicadores button.activo{
    background: red;
}


/*----contenedor primcipal1 y fecha1------- */  


.peliculas-contenedor1{
    margin-bottom: 70px;
   

}

.peliculas-contenedor1 .contenedor-principal1 {
    display: flex;
    align-items: center;
    position: relative;
    
}


.peliculas-contenedor1 .contenedor-principal1 .flecha-izquierda,
.peliculas-contenedor1 .contenedor-principal1 .flecha-derecha {
    
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.peliculas-contenedor1 .contenedor-principal1 .flecha-izquierda:hover,
.peliculas-contenedor1 .contenedor-principal1 .flecha-derecha:hover{

    background: rgba(0,0,0, .9);
    
}

.peliculas-contenedor1 .contenedor-principal1 .flecha-izquierda {
    left: 0;
}

.peliculas-contenedor1 .contenedor-principal1 .flecha-derecha {
    right: 0;
}

/*------carousel-------*/


.peliculas-contenedor1 .contenedor-carousel1 {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-contenedor1 .contenedor-carousel1 .carousel1{
    display: flex;
    flex-wrap: nowrap;
}


.peliculas-contenedor1 .contenedor-carousel1 .carousel1 .pelicula1{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);

}

.peliculas-contenedor1 .contenedor-carousel1 .carousel1 .pelicula1:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-contenedor1 .contenedor-carousel1 .carousel1 .pelicula1 img{
    width: 100%;
    vertical-align: top;
}

.contenedor-principal1 .contenedor-carousel1 {
   
    background-color: #000;
    
}






/*------carousel3-------*/

.contenedor-titulo-controles2{
    display: flex;
    justify-content:space-between;
    align-items: end;
}

.contenedor-titulo-controles2 h3 {
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles2 .indicadores button{

    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles2 .indicadores button:hover,
.contenedor-titulo-controles2 .indicadores button.activo{
    background: red;
}


/*----contenedor primcipal1 y fecha1------- */  


.peliculas-contenedor2{
    margin-bottom: 70px;
   

}

.peliculas-contenedor2 .contenedor-principal2 {
    display: flex;
    align-items: center;
    position: relative;
    
}


.peliculas-contenedor2 .contenedor-principal2 .flecha-izquierda2,
.peliculas-contenedor2 .contenedor-principal2 .flecha-derecha2 {
    
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.peliculas-contenedor2 .contenedor-principal2 .flecha-izquierda2:hover,
.peliculas-contenedor2 .contenedor-principal2 .flecha-derecha2:hover{

    background: rgba(0,0,0, .9);
    
}

.peliculas-contenedor2 .contenedor-principal2 .flecha-izquierda2 {
    left: 0;
}

.peliculas-contenedor2 .contenedor-principal2 .flecha-derecha2 {
    right: 0;
}

/*------carousel-------*/


.peliculas-contenedor2 .contenedor-carousel2 {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-contenedor2 .contenedor-carousel2 .carousel2 {
    display: flex;
    flex-wrap: nowrap;
}


.peliculas-contenedor2 .contenedor-carousel2 .carousel2 .pelicula2{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);

}

.peliculas-contenedor2 .contenedor-carousel2 .carousel2 .pelicula2:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-contenedor2 .contenedor-carousel2 .carousel2 .pelicula2 img{
    width: 100%;
    vertical-align: top;
}

.contenedor-principal2 .contenedor-carousel2 {
   
    background-color: #000;
    
}




/*------carousel4-------*/

.contenedor-titulo-controles3{
    display: flex;
    justify-content:space-between;
    align-items: end;
}

.contenedor-titulo-controles3 h3 {
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles3 .indicadores button{

    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles3 .indicadores button:hover,
.contenedor-titulo-controles3 .indicadores button.activo{
    background: red;
}


/*----contenedor primcipal1 y fecha1------- */  


.peliculas-contenedor3{
    margin-bottom: 70px;
   

}

.peliculas-contenedor3 .contenedor-principal3 {
    display: flex;
    align-items: center;
    position: relative;
    
}


.peliculas-contenedor3 .contenedor-principal3 .flecha-izquierda3,
.peliculas-contenedor3 .contenedor-principal3 .flecha-derecha3 {
    
    position: absolute;
    border: none;
    background: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.peliculas-contenedor3 .contenedor-principal3 .flecha-izquierda3:hover,
.peliculas-contenedor3 .contenedor-principal3 .flecha-derecha3:hover{

    background: rgba(0,0,0, .9);
    
}

.peliculas-contenedor3 .contenedor-principal3 .flecha-izquierda3 {
    left: 0;
}

.peliculas-contenedor3 .contenedor-principal3 .flecha-derecha3 {
    right: 0;
}

/*------carousel-------*/


.peliculas-contenedor3 .contenedor-carousel3 {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-contenedor3 .contenedor-carousel3 .carousel3 {
    display: flex;
    flex-wrap: nowrap;
}


.peliculas-contenedor3 .contenedor-carousel3 .carousel3 .pelicula3{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0,0,0, .3);

}

.peliculas-contenedor3 .contenedor-carousel3 .carousel3 .pelicula3:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-contenedor3 .contenedor-carousel3 .carousel3 .pelicula3 img{
    width: 100%;
    vertical-align: top;
}

.contenedor-principal3 .contenedor-carousel3 {
   
    background-color: #000;
    
}


/*------pie de pagina-------*/

.pie-pagina{
    width: 100%;

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;

}


.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}


.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(117, 54, 117);
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    
}




/*------otraaaa-------*/




.tab-pane{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.tab-pane.active {
    opacity: 1;
    transform: scale(1);
}

.tab-pane {
    opacity: 0;
    transition: .3s;
    transform: scale(0);
}







@media screen and (max-width: 800px){
    header .titulo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    header .contenedor{
        flex-direction: column;
        text-align: center;
    }

    .principal{
        font-size: 14px;
    }

    .principal  .descripcion{
        max-width: 100%;
    }

    .peliculas-contenedor .contenedor-carousel{
        overflow: visible;
    }

    .peliculas-contenedor .contenedor-carousel .carousel{
        display: grid;
        grid-template-columns: repeat(3. 1fr);
        gap: 20px;
    }

    .peliculas-contenedor .indicadores,
    .peliculas-contenedor .flecha-izquierda,
    .peliculas-contenedor .flecha-derecha{
        display: none;
    }
}